html {
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #666;
  font-size: 16px;
  line-height: 1.75em;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 16px + (24 - 16) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  html {
    font-size: 24px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
  font-weight: 500;
  color: #111;
  clear: both;
}
h1 {
  font-size: 23.643540225079395px;
  margin-top: 1.48031976881679em;
  line-height: 1.776383722580148em;
  margin-bottom: 0.296063953763358em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 23.643540225079395px + (35.465310337619094 - 23.643540225079395) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h1 {
    font-size: 35.465310337619094px;
    margin-top: 1.48031976881679em;
    line-height: 1.776383722580148em;
    margin-bottom: 0.296063953763358em;
  }
}
h2 {
  font-size: 21.867241478865562px;
  margin-top: 1.600567681745642em;
  line-height: 1.920681218094771em;
  margin-bottom: 0.364030397557962em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 21.867241478865562px + (32.80086221829834 - 21.867241478865562) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h2 {
    font-size: 32.80086221829834px;
    margin-top: 1.600567681745642em;
    line-height: 1.920681218094771em;
    margin-bottom: 0.349391443821684em;
  }
}
h3 {
  font-size: 20.224393019950664px;
  margin-top: 1.730583457583805em;
  line-height: 2.076700149100566em;
  margin-bottom: 0.397458161865265em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 20.224393019950664px + (30.336589529925995 - 20.224393019950664) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h3 {
    font-size: 30.336589529925995px;
    margin-top: 1.730583457583805em;
    line-height: 2.076700149100566em;
    margin-bottom: 0.380344338415764em;
  }
}
h4 {
  font-size: 18.704968956452426px;
  margin-top: 1.871160549984579em;
  line-height: 2.245392659981495em;
  margin-bottom: 0.434253398062377em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 18.704968956452426px + (28.05745343467864 - 18.704968956452426) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h4 {
    font-size: 28.05745343467864px;
    margin-top: 1.871160549984579em;
    line-height: 2.245392659981495em;
    margin-bottom: 0.414246302040557em;
  }
}
h5 {
  font-size: 17.299696624601218px;
  margin-top: 2.023156865665949em;
  line-height: 2.427788238799139em;
  margin-bottom: 0.40463137313319em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 17.299696624601218px + (25.949544936901827 - 17.299696624601218) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h5 {
    font-size: 25.949544936901827px;
    margin-top: 2.023156865665949em;
    line-height: 2.427788238799139em;
    margin-bottom: 0.40463137313319em;
  }
}
h6 {
  font-size: 16px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.57421875em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 16px + (24 - 16) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h6 {
    font-size: 24px;
    margin-top: 2.1875em;
    line-height: 2.625em;
    margin-bottom: 0.46484375em;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.875em;
  margin-bottom: 1.75em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0875em 0.2625em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.822916666666667em;
}
@media (min-width: 1140px) {
  fieldset {
    margin-bottom: 2.096354166666667em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.255208333333333em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 16px;
  margin-bottom: 1.130208333333333em;
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 16px + (24 - 16) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 24px;
    margin-bottom: 0.501302083333333em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 16px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.203125em;
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: calc( 16px + (24 - 16) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="submit"],
  button {
    font-size: 24px;
    margin-bottom: 1.3125em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.114583333333333em;
}
@media (min-width: 1140px) {
  table {
    margin-bottom: 2.005208333333333em;
  }
}
th {
  text-align: left;
  color: #111;
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  th {
    padding: 0.4375em 0.875em;
  }
}
td {
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  td {
    padding: 0.4375em 0.875em;
  }
}
body {
  width: 100%;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body:before {
  content: '';
  display: table;
}
body:after {
  content: '';
  display: table;
  clear: both;
}
img {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 24.5em;
}
img:before {
  content: '';
  display: table;
}
img:after {
  content: '';
  display: table;
  clear: both;
}
article header {
  margin-bottom: 2.975em;
}
.container {
  *zoom: 1;
}
.container:before {
  content: '';
  display: table;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (min-width: 725px) {
  .page-header h1,
  main h2 {
    margin-top: 16px;
    padding-top: 0;
  }
}
.page-header {
  width: calc(99.99% * 1/3 - (.5em - .5em * 1/3));
  box-sizing: border-box;
  padding: 0 1em;
  background-color: #ff6347;
  color: #fff;
}
.page-header:nth-child(n) {
  float: left;
  margin-right: .5em;
  clear: none;
}
.page-header:last-child {
  margin-right: 0;
}
.page-header:nth-child(3n) {
  margin-right: 0;
}
.page-header:nth-child(3n + 1) {
  clear: left;
}
.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4 {
  color: #fff;
}
.page-header li,
.page-header a {
  color: #ff0;
}
.page-header a {
  text-decoration: none;
}
.page-header a:hover {
  color: #fff;
}
@media only screen and (max-width: 725px) {
  .page-header {
    width: calc(99.99% * 3/3 - (.5em - .5em * 3/3));
    margin-top: 0;
    padding-top: 0;
  }
  .page-header:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  .page-header:last-child {
    margin-right: 0;
  }
  .page-header:nth-child(3n) {
    margin-right: 0;
  }
  .page-header:nth-child(3n + 1) {
    clear: left;
  }
  .page-header h1 {
    margin-top: 0.4em;
    width: calc(99.99% * 8/10 - (.5em - .5em * 8/10));
  }
  .page-header h1:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  .page-header h1:last-child {
    margin-right: 0;
  }
  .page-header h1:nth-child(10n) {
    margin-right: 0;
  }
  .page-header h1:nth-child(10n + 1) {
    clear: left;
  }
}
main {
  width: calc(99.99% * 2/3 - (.5em - .5em * 2/3));
  box-sizing: border-box;
  padding: 0 1em;
  background: #eee;
}
main:nth-child(n) {
  float: left;
  margin-right: .5em;
  clear: none;
}
main:last-child {
  margin-right: 0;
}
main:nth-child(3n) {
  margin-right: 0;
}
main:nth-child(3n + 1) {
  clear: left;
}
@media only screen and (max-width: 725px) {
  main {
    width: calc(99.99% * 3/3 - (.5em - .5em * 3/3));
  }
  main:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  main:last-child {
    margin-right: 0;
  }
  main:nth-child(3n) {
    margin-right: 0;
  }
  main:nth-child(3n + 1) {
    clear: left;
  }
  main h2 {
    margin-top: 0.4375em;
  }
}
.toggle {
  height: 1.5em;
  width: 2em;
  display: block;
  padding: 0;
  lost-grid: 2/10;
  float: right;
  position: relative;
  top: 0.95em;
  background-color: #ff6347;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
@media only screen and (min-width: 725px) {
  .toggle {
    display: none;
  }
}
.toggle:focus {
  outline: none;
}
.toggle span {
  display: block;
  height: 3px;
  background-color: #fff;
  width: 100%;
}
@media only screen and (max-width: 725px) {
  .page-nav {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    line-height: 2.5;
    transition: all 0.6s ease;
  }
  .page-nav.open {
    opacity: 1;
    max-height: 3999px;
  }
}
.page-footer {
  width: calc(99.99% * 1/1 - (.5em - .5em * 1/1));
  background-color: #ff6347;
  color: #fff;
  text-align: right;
  display: block;
  height: 2.625em;
  padding: 0 1em;
  box-sizing: border-box;
}
.page-footer:nth-child(n) {
  float: left;
  margin-right: .5em;
  clear: none;
}
.page-footer:last-child {
  margin-right: 0;
}
.page-footer:nth-child(1n) {
  margin-right: 0;
}
.page-footer:nth-child(1n + 1) {
  clear: left;
}
.page-footer small {
  display: block;
  margin-top: 1.575em;
}
