html {
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #666;
  font-size: 18px;
  line-height: 1.75em;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 18px + (24 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  html {
    font-size: 24px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
  font-weight: 500;
  color: #111;
  clear: both;
}
h1 {
  font-size: 20.163236267376686px;
  margin-top: 1.95281151685492em;
  line-height: 2.343373820225904em;
  margin-bottom: 0.390562303370984em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 20.163236267376686px + (26.884315023168913 - 20.163236267376686) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h1 {
    font-size: 26.884315023168913px;
    margin-top: 1.95281151685492em;
    line-height: 2.343373820225904em;
    margin-bottom: 0.390562303370984em;
  }
}
h2 {
  font-size: 19.71072924365625px;
  margin-top: 1.997642984856715em;
  line-height: 2.397171581828057em;
  margin-bottom: 0.460337396894349em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 19.71072924365625px + (26.280972324875 - 19.71072924365625) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h2 {
    font-size: 26.280972324875px;
    margin-top: 1.997642984856715em;
    line-height: 2.397171581828057em;
    margin-bottom: 0.445135196913597em;
  }
}
h3 {
  font-size: 19.268377465046324px;
  margin-top: 2.043503666638665em;
  line-height: 2.452204399966399em;
  margin-bottom: 0.472333605488734em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 19.268377465046324px + (25.6911699533951 - 19.268377465046324) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h3 {
    font-size: 25.6911699533951px;
    margin-top: 2.043503666638665em;
    line-height: 2.452204399966399em;
    margin-bottom: 0.456425387448484em;
  }
}
h4 {
  font-size: 18.835953025685015px;
  margin-top: 2.09041719026946em;
  line-height: 2.508500628323352em;
  margin-bottom: 0.484671537549116em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 18.835953025685015px + (25.11460403424669 - 18.835953025685015) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h4 {
    font-size: 25.11460403424669px;
    margin-top: 2.09041719026946em;
    line-height: 2.508500628323352em;
    margin-bottom: 0.46802451267531em;
  }
}
h5 {
  font-size: 18.41323313441532px;
  margin-top: 2.138407726256722em;
  line-height: 2.566089271508067em;
  margin-bottom: 0.427681545251344em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 18.41323313441532px + (24.55097751255376 - 18.41323313441532) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h5 {
    font-size: 24.55097751255376px;
    margin-top: 2.138407726256722em;
    line-height: 2.566089271508067em;
    margin-bottom: 0.427681545251344em;
  }
}
h6 {
  font-size: 18px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.559027777777778em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 18px + (24 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h6 {
    font-size: 24px;
    margin-top: 2.1875em;
    line-height: 2.625em;
    margin-bottom: 0.461805555555556em;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.875em;
  margin-bottom: 1.75em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0875em 0.2625em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.822916666666667em;
}
@media (min-width: 1140px) {
  fieldset {
    margin-bottom: 2.096354166666667em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.255208333333333em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 18px;
  margin-bottom: 1.130208333333333em;
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 18px + (24 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 24px;
    margin-bottom: 0.501302083333333em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 18px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.203125em;
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: calc( 18px + (24 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="submit"],
  button {
    font-size: 24px;
    margin-bottom: 1.3125em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.114583333333333em;
}
@media (min-width: 1140px) {
  table {
    margin-bottom: 2.005208333333333em;
  }
}
th {
  text-align: left;
  color: #111;
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  th {
    padding: 0.4375em 0.875em;
  }
}
td {
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  td {
    padding: 0.4375em 0.875em;
  }
}
body {
  width: 100%;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body:before {
  content: '';
  display: table;
}
body:after {
  content: '';
  display: table;
  clear: both;
}
img {
  min-width: 100%;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
img:before {
  content: '';
  display: table;
}
img:after {
  content: '';
  display: table;
  clear: both;
}
article {
  margin-bottom: vr(0.25);
}
article header {
  margin-bottom: 0.0875em;
}
.container {
  *zoom: 1;
}
.container:before {
  content: '';
  display: table;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  .page-header h1,
  main h2 {
    margin-top: 16px;
    padding-top: 0;
  }
}
.page-header {
  width: calc(99.99% * 1/4 - (.5em - .5em * 1/4));
  box-sizing: border-box;
  padding: 0 1em;
  background-color: #ff6347;
  color: #fff;
}
.page-header:nth-child(n) {
  float: left;
  margin-right: .5em;
  clear: none;
}
.page-header:last-child {
  margin-right: 0;
}
.page-header:nth-child(4n) {
  margin-right: 0;
}
.page-header:nth-child(4n + 1) {
  clear: left;
}
.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4 {
  color: #fff;
}
.page-header li,
.page-header a {
  color: #ff0;
}
.page-header a {
  text-decoration: none;
}
.page-header a:hover {
  color: #fff;
}
@media only screen and (max-width: 1100px) {
  .page-header {
    width: calc(99.99% * 1/3 - (.5em - .5em * 1/3));
  }
  .page-header:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  .page-header:last-child {
    margin-right: 0;
  }
  .page-header:nth-child(3n) {
    margin-right: 0;
  }
  .page-header:nth-child(3n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 768px) {
  .page-header {
    width: calc(99.99% * 3/3 - (.5em - .5em * 3/3));
    margin-top: 0;
    padding-top: 0;
  }
  .page-header:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  .page-header:last-child {
    margin-right: 0;
  }
  .page-header:nth-child(3n) {
    margin-right: 0;
  }
  .page-header:nth-child(3n + 1) {
    clear: left;
  }
  .page-header h1 {
    margin-top: 0.4em;
    width: calc(99.99% * 8/10 - (.5em - .5em * 8/10));
  }
  .page-header h1:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  .page-header h1:last-child {
    margin-right: 0;
  }
  .page-header h1:nth-child(10n) {
    margin-right: 0;
  }
  .page-header h1:nth-child(10n + 1) {
    clear: left;
  }
}
main {
  width: calc(99.99% * 3/4 - (.5em - .5em * 3/4));
  box-sizing: border-box;
  padding: 0 1em;
  background: #eee;
}
main:nth-child(n) {
  float: left;
  margin-right: .5em;
  clear: none;
}
main:last-child {
  margin-right: 0;
}
main:nth-child(4n) {
  margin-right: 0;
}
main:nth-child(4n + 1) {
  clear: left;
}
@media only screen and (max-width: 1100px) {
  main {
    width: calc(99.99% * 2/3 - (.5em - .5em * 2/3));
  }
  main:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  main:last-child {
    margin-right: 0;
  }
  main:nth-child(3n) {
    margin-right: 0;
  }
  main:nth-child(3n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 768px) {
  main {
    width: calc(99.99% * 3/3 - (.5em - .5em * 3/3));
  }
  main:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  main:last-child {
    margin-right: 0;
  }
  main:nth-child(3n) {
    margin-right: 0;
  }
  main:nth-child(3n + 1) {
    clear: left;
  }
}
.toggle {
  height: 1.5em;
  width: 2em;
  display: block;
  padding: 0;
  lost-grid: 2/10;
  float: right;
  position: relative;
  top: 0.95em;
  background-color: #ff6347;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
@media only screen and (min-width: 768px) {
  .toggle {
    display: none;
  }
}
.toggle:focus {
  outline: none;
}
.toggle span {
  display: block;
  height: 3px;
  background-color: #fff;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .page-nav {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    line-height: 2.5;
    transition: all 0.6s ease;
  }
  .page-nav.open {
    opacity: 1;
    max-height: 3999px;
  }
}
.page-footer {
  width: calc(99.99% * 1/1 - (.5em - .5em * 1/1));
  background-color: #ff6347;
  color: #fff;
  text-align: right;
  display: block;
  margin-top: 0.4375em;
  height: 2.625em;
  padding: 0 1em;
  box-sizing: border-box;
}
.page-footer:nth-child(n) {
  float: left;
  margin-right: .5em;
  clear: none;
}
.page-footer:last-child {
  margin-right: 0;
}
.page-footer:nth-child(1n) {
  margin-right: 0;
}
.page-footer:nth-child(1n + 1) {
  clear: left;
}
.page-footer small {
  display: block;
  margin-top: 1.575em;
}
.page-footer #disqus_thread {
  font-size: 1.25em;
}
svg.icon {
  height: 1.3125em;
  width: 1.3125em;
  fill: #ff0;
  stroke: #ff0;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 0.109375em;
}
svg.icon:hover {
  fill: #fff;
  stroke: #fff;
}
svg.icon.active {
  fill: #fff;
  stroke: #fff;
}
.site-pages,
.site-categories {
  list-style-type: none;
  padding: 0;
}
