html {
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #666;
  font-size: 18px;
  line-height: 1.75em;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 18px + (18 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  html {
    font-size: 18px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
  font-weight: 500;
  color: #111;
  clear: both;
}
h1 {
  font-size: 26.59898275321432px;
  margin-top: 1.48031976881679em;
  line-height: 1.776383722580148em;
  margin-bottom: 0.296063953763358em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 26.59898275321432px + (26.59898275321432 - 26.59898275321432) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h1 {
    font-size: 26.59898275321432px;
    margin-top: 1.48031976881679em;
    line-height: 1.776383722580148em;
    margin-bottom: 0.296063953763358em;
  }
}
h2 {
  font-size: 24.600646663723758px;
  margin-top: 1.600567681745642em;
  line-height: 1.920681218094771em;
  margin-bottom: 0.359150746312536em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 24.600646663723758px + (24.600646663723758 - 24.600646663723758) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h2 {
    font-size: 24.600646663723758px;
    margin-top: 1.600567681745642em;
    line-height: 1.920681218094771em;
    margin-bottom: 0.359150746312536em;
  }
}
h3 {
  font-size: 22.752442147444498px;
  margin-top: 1.730583457583805em;
  line-height: 2.076700149100566em;
  margin-bottom: 0.391753554048764em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 22.752442147444498px + (22.752442147444498 - 22.752442147444498) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h3 {
    font-size: 22.752442147444498px;
    margin-top: 1.730583457583805em;
    line-height: 2.076700149100566em;
    margin-bottom: 0.391753554048764em;
  }
}
h4 {
  font-size: 21.04309007600898px;
  margin-top: 1.871160549984579em;
  line-height: 2.245392659981495em;
  margin-bottom: 0.427584366055104em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 21.04309007600898px + (21.04309007600898 - 21.04309007600898) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h4 {
    font-size: 21.04309007600898px;
    margin-top: 1.871160549984579em;
    line-height: 2.245392659981495em;
    margin-bottom: 0.427584366055104em;
  }
}
h5 {
  font-size: 19.46215870267637px;
  margin-top: 2.023156865665949em;
  line-height: 2.427788238799139em;
  margin-bottom: 0.40463137313319em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 19.46215870267637px + (19.46215870267637 - 19.46215870267637) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h5 {
    font-size: 19.46215870267637px;
    margin-top: 2.023156865665949em;
    line-height: 2.427788238799139em;
    margin-bottom: 0.40463137313319em;
  }
}
h6 {
  font-size: 18px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.559027777777778em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 18px + (18 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h6 {
    font-size: 18px;
    margin-top: 2.1875em;
    line-height: 2.625em;
    margin-bottom: 0.461805555555556em;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.875em;
  margin-bottom: 1.75em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0875em 0.2625em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.847222222222222em;
}
@media (min-width: 1140px) {
  fieldset {
    margin-bottom: 2.065972222222222em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.194444444444444em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 18px;
  margin-bottom: 1.215277777777778em;
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 18px + (18 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 18px;
    margin-bottom: 0.522569444444444em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 18px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.166666666666667em;
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: calc( 18px + (18 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="submit"],
  button {
    font-size: 18px;
    margin-bottom: 1.3125em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.236111111111111em;
}
@media (min-width: 1140px) {
  table {
    margin-bottom: 2.090277777777778em;
  }
}
th {
  text-align: left;
  color: #111;
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  th {
    padding: 0.4375em 0.875em;
  }
}
td {
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  td {
    padding: 0.4375em 0.875em;
  }
}
body {
  width: 100%;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body:before {
  content: '';
  display: table;
}
body:after {
  content: '';
  display: table;
  clear: both;
}
img {
  min-width: 100%;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
img:before {
  content: '';
  display: table;
}
img:after {
  content: '';
  display: table;
  clear: both;
}
article {
  margin-bottom: vr(0.25);
}
article header {
  margin-bottom: 0.0875em;
}
.container {
  *zoom: 1;
}
.container:before {
  content: '';
  display: table;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (min-width: 725px) {
  .page-header h1,
  main h2 {
    margin-top: 16px;
    padding-top: 0;
  }
}
.page-header {
  width: calc(99.99% * 1/4 - (.5em - .5em * 1/4));
  box-sizing: border-box;
  padding: 0 1em;
  background-color: #ff6347;
  color: #fff;
}
.page-header:nth-child(n) {
  float: left;
  margin-right: .5em;
  clear: none;
}
.page-header:last-child {
  margin-right: 0;
}
.page-header:nth-child(4n) {
  margin-right: 0;
}
.page-header:nth-child(4n + 1) {
  clear: left;
}
.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4 {
  color: #fff;
}
.page-header li,
.page-header a {
  color: #ff0;
}
.page-header a {
  text-decoration: none;
}
.page-header a:hover {
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  .page-header {
    width: calc(99.99% * 1/3 - (.5em - .5em * 1/3));
  }
  .page-header:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  .page-header:last-child {
    margin-right: 0;
  }
  .page-header:nth-child(3n) {
    margin-right: 0;
  }
  .page-header:nth-child(3n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 768px) {
  .page-header {
    width: calc(99.99% * 3/3 - (.5em - .5em * 3/3));
    margin-top: 0;
    padding-top: 0;
  }
  .page-header:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  .page-header:last-child {
    margin-right: 0;
  }
  .page-header:nth-child(3n) {
    margin-right: 0;
  }
  .page-header:nth-child(3n + 1) {
    clear: left;
  }
  .page-header h1 {
    margin-top: 0.4em;
    width: calc(99.99% * 8/10 - (.5em - .5em * 8/10));
  }
  .page-header h1:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  .page-header h1:last-child {
    margin-right: 0;
  }
  .page-header h1:nth-child(10n) {
    margin-right: 0;
  }
  .page-header h1:nth-child(10n + 1) {
    clear: left;
  }
}
main {
  width: calc(99.99% * 3/4 - (.5em - .5em * 3/4));
  box-sizing: border-box;
  padding: 0 1em;
  background: #eee;
}
main:nth-child(n) {
  float: left;
  margin-right: .5em;
  clear: none;
}
main:last-child {
  margin-right: 0;
}
main:nth-child(4n) {
  margin-right: 0;
}
main:nth-child(4n + 1) {
  clear: left;
}
@media only screen and (max-width: 1000px) {
  main {
    width: calc(99.99% * 2/3 - (.5em - .5em * 2/3));
  }
  main:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  main:last-child {
    margin-right: 0;
  }
  main:nth-child(3n) {
    margin-right: 0;
  }
  main:nth-child(3n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 768px) {
  main {
    width: calc(99.99% * 3/3 - (.5em - .5em * 3/3));
  }
  main:nth-child(n) {
    float: left;
    margin-right: .5em;
    clear: none;
  }
  main:last-child {
    margin-right: 0;
  }
  main:nth-child(3n) {
    margin-right: 0;
  }
  main:nth-child(3n + 1) {
    clear: left;
  }
}
.toggle {
  height: 1.5em;
  width: 2em;
  display: block;
  padding: 0;
  lost-grid: 2/10;
  float: right;
  position: relative;
  top: 0.95em;
  background-color: #ff6347;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
@media only screen and (min-width: 768px) {
  .toggle {
    display: none;
  }
}
.toggle:focus {
  outline: none;
}
.toggle span {
  display: block;
  height: 3px;
  background-color: #fff;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .page-nav {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    line-height: 2.5;
    transition: all 0.6s ease;
  }
  .page-nav.open {
    opacity: 1;
    max-height: 3999px;
  }
}
.page-footer {
  width: calc(99.99% * 1/1 - (.5em - .5em * 1/1));
  background-color: #ff6347;
  color: #fff;
  text-align: right;
  display: block;
  margin-top: 0.4375em;
  height: 2.625em;
  padding: 0 1em;
  box-sizing: border-box;
}
.page-footer:nth-child(n) {
  float: left;
  margin-right: .5em;
  clear: none;
}
.page-footer:last-child {
  margin-right: 0;
}
.page-footer:nth-child(1n) {
  margin-right: 0;
}
.page-footer:nth-child(1n + 1) {
  clear: left;
}
.page-footer small {
  display: block;
  margin-top: 1.575em;
}
.page-footer #disqus_thread {
  font-size: 1.25em;
}
svg.icon {
  height: 1.3125em;
  width: 1.3125em;
  fill: #ff0;
  stroke: #ff0;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 0.109375em;
}
.site-pages_list {
  list-style-type: none;
  padding: 0;
}
